@model QuickspatchWeb.Models.Input.RadioViewModel
@{
    var readOnlyRadio = "";
    if (Model.ReadOnly)
    {
        readOnlyRadio = "disabled";
    }
}
<section class="col col-@Model.Col @Model.MoreClass">
    <label class="radio">
        @{
            var disabledStr = Model.IsDisabled ? "disabled='disabled'" : "";
            if (Model.NgChangeFunction == "")
            {

                <input name="@Model.Id" type="radio" value="@Model.Value" class="@Model.Class" data-ng-model="@Model.DataBindingValue" @readOnlyRadio style="margin-top: 7px;" @disabledStr />
            }
            else
            {
                <input name="@Model.Id" type="radio" value="@Model.Value" class="@Model.Class" data-ng-model="@Model.DataBindingValue" @readOnlyRadio ng-change="@Model.NgChangeFunction" style="margin-top:7px" @disabledStr />
            }
}
        <i></i>@Model.Label
    </label>
    <style>
        .k-radio, .k-radio {
            display: block !important;
        }
    </style>
</section>


