@using QuickspatchWeb.HtmlHelpers
@model QuickspatchWeb.Models.User.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div id="main" role="main" ng-controller="changePasswordController">
    <!-- MAIN CONTENT -->
    <div id="sign-in-form" class="panel panel-table" style="width: 400px;position: absolute">
        <div class="panel-heading extended-height" style="text-align: center">
            <img src="/Content/quickspatch/img/logo-o.svg" style="width:90%; margin: 20px 0 10px 0" alt="logo">
        </div>
        <div class="panel-body">
            <h3 class="no-margin" style="width: 100%;text-align: center;">Change password</h3>
            <form class="smart-form">
                <fieldset>
                    @Html.CustomTextBox("Username", "Username", "User.Username", 12, required: true, length: 100, isDisabled: true)
                    @Html.CustomTextBox("CurrentPassword", "Current Password", "User.CurrentPassword", 12, required: true, length: 100, isPasswordType: true)
                    @Html.CustomTextBox("NewPassword", "New Password", "User.NewPassword", 12, required: true, length: 100, isPasswordType: true)
                    @Html.CustomTextBox("ConfirmNewPassword", "Confirm New Password", "User.ConfirmNewPassword", 12, required: true, length: 100, isPasswordType: true)

                    <section class="col col-12">
                        <button class="btn btn-primary" style="width: 94%;padding: 3% !important" ng-click="Save()"><i class="fa fa-sign-in"></i> Change password</button>
                    </section>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
    function ChangePasswordViewModel() {
        var self = this;
        self.Id=@Model.Id;
        self.Username=@Html.Raw(Json.Encode(Model.Username));
        self.CurrentPassword = "";
        self.NewPassword = "";
        self.ConfirmNewPassword = "";
    }
</script>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/angularApp/form.login.js")"></script>
   
}